corpo {
    imagem de fundo :  url (https://create.vista.com/downloads/?filePath=/downloads/faa4997c-a61e-4708-acbc-22f787fd2f33.jpeg);

}
h1 {
    cor de fundo :  rgba ( 97 ,  198 ,  241 ,  0,849 );
}
h1 {
    cor :  rgba ( 0 ,  0 ,  0 ,  0,849 );
}
#sala { _
    exibição : flexível;
flex-direction : coluna;
align-items : flex-start;
preenchimento :  0px ; _
intervalo :  4px ; _

posição : absoluta;
largura :  268px ; _
altura :  20px ; _
esquerda :  647px ; _
topo :  100 px ;
}
ul {
    tipo de estilo de lista : nenhum;
    margem :  0 ;
    preenchimento :  0 ;
    estouro : oculto;
    cor de fundo :  # 333 ;
}

li {
    flutuar : esquerda;
}

li  a {
    exibição : bloco;
    cor : branco;
    text-align : centro;
    preenchimento :  14 px  16 px ;
    decoração de texto : nenhuma;
}
. linha de logotipo {
    posição : absoluta;
    margem esquerda : 0 px ;
    margem superior : 0 px ;
    largura : 300px ; _
    altura : 300px ; _
}
. horas {

    exibição : flexível;
    flex-direction : coluna;
    align-items : flex-start;
    preenchimento :  0px ; _
    intervalo :  4px ; _

    posição : absoluta;
    largura :  200px ; _
    altura :  20px ; _
    esquerda :  500px ; _
    topo :  250px ; _


}
# horas {
    exibição : flexível;
flex-direction : coluna;
align-items : flex-start;
preenchimento :  0px ; _
intervalo :  4px ; _

posição : absoluta;
largura :  100px ; _
altura :  20px ; _
esquerda :  500px ; _
topo :  300px ; _

}
#sala { _
    exibição : flexível;
flex-direction : coluna;
align-items : flex-start;
preenchimento :  0px ; _
intervalo :  4px ; _

largura :  100px ; _
altura :  20px ; _
esquerda :  620px ; _
topo :  300px ; _
}
# cal-wrap  * { font-family : arial , sans-serif; }
. ninja { display : nenhum ! importante ; }

/* (B) RECIPIENTE */
# cal-wrap { largura máxima :  600 px ; }

/* (C) SELETOR DE PERÍODO */
# cal-date { display : flex; }
# cal-mth ,  # cal-yr {
  box-sizing : border-box;
  preenchimento :  10px 20px ; _  _
  tamanho da fonte :  1,2 em ;
  borda :  0 ;
}



/* (D) CALENDÁRIO */
# calendário {
  largura :  100 % ;
  colapso da fronteira : colapso;
  cor de fundo :  rgb ( 255 ,  255 ,  255 );
}
# calendário  tr . cabeça  td {
  peso da fonte : negrito;
  text-transform : maiúsculas;
  cor :  #fff ; _
  fundo :  rgba ( 97 ,  198 ,  241 ,  0,849 );
  preenchimento :  15px ; _
  text-align : centro;
}
# calendário  tr . dia  td {
  borda :  1 px sólido rgb ( 0 ,  0 ,  0 );
  largura :  14,28 % ;
  preenchimento :  15 px  5 px ;
  alinhamento vertical : topo;
}
# calendário  tr . dia  td : pairar {
  fundo :  # a4ebb3 ;
  cursor : ponteiro;
}
# calendário  tr  td . em branco {
  fundo :  # f5f5f5 ;
}
# calendário  tr  td . hoje {
  fundo :  #defcff ; _
}
# calendário . dd {
  tamanho da fonte :  1,2 em ;
  cor :  # 999 ;
}
# calendário . evento {
  margem superior :  5 px ;
  tamanho da fonte :  0,8 em ;
  peso da fonte : negrito;
  estouro : oculto;
  cor :  # 000000 ;
}

/* (E) ADICIONAR/EDITAR EVENTO */
# cal-evento {
  preenchimento :  15px ; _
  margem superior :  20 px ;
  fundo :  # f5f5f5 ;
  borda :  1 px sólido #ddd ; _
}
# cal-evento  h1 {
  cor :  # 333 ;
  preenchimento :  0 ;
  margem :  0 ;
}
# evt-data {
  cor :  # 555 ;
  margem :  10 px  0 ;
}
# área de texto do evento  cal {
  exibição : bloco;
  box-sizing : border-box;
  largura :  100 % ;
  preenchimento :  10px ; _
  margem :  10 px  0 ;
  borda :  1 px sólido #ddd ; _
  min-height :  100 px ;
}
# cal-event  input [ type = botão ] ,  # cal-event  input [ type = submit ] {
  preenchimento :  10px ; _
  margem :  5px ; _
  tamanho da fonte :  1,2 em ;
  borda :  0 ;
  fundo :  rgba ( 97 ,  198 ,  241 ,  0,849 );
  cor :  rgb ( 0 ,  0 ,  0 );
}
